[buildout]
develop = .
versions = versions
eggs =
    ipython
parts = 
    mock
    django

[versions]
mock = 0.3.1
django = http://code.djangoproject.com/svn/django/branches/releases/1.0.X
ipython = 0.9.1

[mock]
recipe = plone.recipe.distros
urls = http://www.voidspace.org.uk/cgi-bin/voidspace/downman.py?section=python&file=mock-${versions:mock}.zip

[django]
recipe = djangorecipe
project = testproject
settings = settings
version = ${versions:django}
wsgi = False
test = testapp
eggs =
    ${buildout:eggs}
    django-maintenancemode
extra-paths =
    ${mock:location}